.tarjeta{
    display: flex;
    flex-direction:column ;
    align-items:center;
    justify-items:baseline;
    width: 20 vw;
    background-color: #3e8f13;
    background: radial-gradient(circle, #b1ff86 0%, #3e8f13 100%);
    border: 2px solid #a15ce2d0;
    justify-content: space-between;
    
}
.contador{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tarjBtnMas{
    display: flex;
    justify-content: right;
    align-self: baseline;
    background-color: #b1ff86;
    border: 2px solid #b1ff86;
    border-radius: 50%;
}
.numerito{
    width: 3vw;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    color: #fffd91;
    background-color: #a15ce2d0;
    border: 2px solid #b1ff86;
}
.tarjBtnMenos{
    display: flex;
    align-self:baseline;
    justify-content: left;
    background-color: #b1ff86;
    border: 2px solid #b1ff86;
    border-radius: 50%; 
}
.addTo{
    display: flex;
    justify-content: baseline;
    background-color: #b1ff86;
    border: 2px solid #b1ff86;
    border-radius: 60%;
    font-family:sans-serif;  
}